@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);


#main {width: 100%; padding:0;}

.margin-top-10 {padding-top:10px;}
.margin-bot-10 {padding-bottom:10px;}



/* Text and stuff IGEOR, Can you add the rest of the text css? */
#parallaxfinal h1 {
    font-family:'Oswald', sans-serif; 
    font-size:24px; 
    font-weight:400; 
    text-transform: uppercase;
    color:black; 
    padding:0;
    margin:0;
}
#parallaxfinal h2 {
    font-family:'Oswald', sans-serif;
    font-size:70px; 
    letter-spacing:10px;
    text-align:center; 
    color:white;
    font-weight:400;
    text-transform:uppercase;
    z-index:99; 
    opacity:.8;
}
#parallaxfinal h3 {
    font-family:'Oswald', sans-serif;
    font-size:20px; 
    line-height:0;
    font-weight:400;
    text-transform: uppercase;
    color:black;
    
}

#parallaxfinal .parallax-one h3, #parallaxfinal .parallax-two h3, #parallaxfinal .parallax-three h3, #parallaxfinal .parallax-four h3, #parallaxfinal .parallax-five h3, #parallaxfinal .parallax-six h3 {
    font-family:'Oswald', sans-serif;
    font-size:20px; 
    line-height:0;
    font-weight:400;
    letter-spacing:8px;
    text-transform: uppercase;
    color:white;
    text-align:center; 
    margin-bottom: -30px;
}
#parallaxfinal p {
    font-family:'Source Sans Pro', sans-serif;
    font-weight:400; 
    font-size:14px;
    line-height:24px;
}
.first-character {
    font-weight:400;
    float: left; 
    font-size: 84px;
    line-height: 64px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px; 
    font-family: 'Source Sans Pro', sans-serif;
}

.a1 {color: #3b8595;}
.a2 {color: #3b8595;}
.a3 {color: #3b8595;}

/* HEADER AREA */
#parallaxfinal .title {
    background: white;
    padding: 60px; margin:0 auto;
    text-align:center;
}
#parallaxfinal .title h1 {
    font-size:35px;
    letter-spacing:8px;
}

.nav{ 
text-align:center;
 font-family: 'Source Sans Pro', sans-serif; 
    padding-bottom: 20px;
}

.nav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.nav a:hover {
  background-color: #3b8595;
  color: white;
}



/* WRITING AREA */
#parallaxfinal .block {
    background: white;
    padding: 60px; 
    width:80%; 
    margin:auto;
    text-align:justify;
}
#parallaxfinal .block-gray {
    background: #f2f2f2;
    padding: 60px;
}
#parallaxfinal .section-overlay-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.70;
}

/* Parallax Background Images */
#parallaxfinal .parallax-one {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/460805/pexels-photo-460805.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260s);
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
#parallaxfinal .parallax-two {
    padding-top: 200px; 
    padding-bottom: 200px;
    overflow: hidden; position: relative;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/169524/pexels-photo-169524.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); 
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#parallaxfinal .parallax-three {
    padding-top: 200px; 
    padding-bottom: 200px;
    overflow: hidden;
    position: relative; 
    width: 100%;
    background-image: url(https://images.pexels.com/photos/1287365/pexels-photo-1287365.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#parallaxfinal .parallax-four {
    padding-top: 200px; 
    padding-bottom: 200px;
    overflow: hidden;
    position: relative; 
    width: 100%;
    background-image: url(https://images.pexels.com/photos/1586948/pexels-photo-1586948.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#parallaxfinal .parallax-five {
    padding-top: 200px; 
    padding-bottom: 200px;
    overflow: hidden;
    position: relative; 
    width: 100%;
    background-image: url(https://images.pexels.com/photos/516541/pexels-photo-516541.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#parallaxfinal .parallax-six{
    padding-top: 200px; 
    padding-bottom: 200px;
    overflow: hidden;
    position: relative; 
    width: 100%;
    background-image: url(https://images.pexels.com/photos/248280/pexels-photo-248280.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/* other stuff */
#parallaxfinal .line-break {
    border-bottom:1px solid black; 
    width: 150px; 
    margin:0 auto;
}

.footer {
  position: relative;
    margin-top: 10%;
    padding: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3b8595;
  color: white;
  text-align: center;
}
.footer h4 {
    font-family:'Source Sans Pro', sans-serif;
    font-weight:900; 
    font-size:14px;
    
    margin-bottom: -20px;
}

.footer p, .footer a {
    font-family:'Source Sans Pro', sans-serif;
    font-weight:400; 
    font-size:14px;
    line-height:24px;
    letter-spacing:5px;
    text-decoration: none;
    color: white;
}

.footer a:hover {
    font-family:'Source Sans Pro', sans-serif;
    font-weight:400; 
    font-size:14px;
    line-height:24px;
    letter-spacing:5px;
    text-decoration: underline;
    color: white;
}
    
    /* Media Queries */
/**************************/
@media only screen and (max-width: 959px) and (min-width: 768px) {
  #parallaxfinal .block {padding: 40px; width:620px;}
}
@media only screen and (max-width: 767px) {
  #parallaxfinal .block {padding: 30px; width:420px;}
  #parallaxfinal .block {padding: 30px;}
  #parallaxfinal .parallax-one, #parallaxfinal .parallax-two, #parallaxfinal .parallax-three {padding-top:100px; padding-bottom:100px;}
    .nav {
text-align:center;
 font-family: 'Source Sans Pro', sans-serif; 
    padding-bottom: 20px;
}

.nav a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
}
@media only screen and (max-width: 479px) {
  #parallaxfinal .block {padding: 30px 15px; width:290px;}
}